* { margin:0; padding:0; }

html, body { 
	width:100%; 
	height:100%;
}

.container {
	height: 1000px;
}

.nav.hidden ul{
	opacity: 0;
}

.nav ul {
	width: 100%;
	position: fixed;
	top: 8px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	z-index: 2;
	opacity: 1;
	transition: all 2.5s ease;
}

.nav ul li {
	margin: 0 auto;
	display: inline-block;
	border: 2px white solid;
	font-family: 'Vollkorn', serif;
	font-size: 30px;
	color: white;
	text-decoration: none;
	background-color: black;
	width: 160px;
	outline: 1px black solid;
}

a {
	text-decoration: none;
	display: inline-block;
	padding: 0;
	width: 200px;
	color: white;
}

.nav a {
	width: 160px;
}

a:visited {
	color: white;
}

.canvas {
	position: fixed;
	top: 0; 
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('./images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	opacity: .7;
	z-index: -1;
}

.canvas.hidden {
	opacity: 0;
}

.title {
	list-style: none;
	position: relative;
	top: 310px;
	margin: 0 auto;
	text-align: center;
}

.title li {
	display: inline-block;
	font-family: 'Gravitas One', cursive;
	font-weight: 500;
	font-size: 128px;
	color: white;
	opacity: 1;
	transition: all 2.5s ease;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	text-shadow:
	2px 3px 0 black,
	1px -1px 0 black,
	1px 1px 0 black,
	1px 1px 0 black;
}

.title.hidden li {
	opacity: 0;
}

.title.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.title.hidden li:nth-child(2) { transform: translateX(40px) translateY(100px); }
.title.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.title.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.title.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.title.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.title.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }
.title.hidden li:nth-child(8) { transform: translateX(80px) translateY(-80px); }
.title.hidden li:nth-child(9) { transform: translateX(60px) translateY(200px); }

.description {
	position: relative;
	top: 350px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Vollkorn', serif;
	color: white;
	font-size: 50px;
	transition: all 2.5s ease;
	opacity: 1;
	text-shadow:
	2px 3px 0 black,
	1px -1px 0 black,
	1px 1px 0 black,
	1px 1px 0 black;
}

.description.hidden {
	opacity: 0;
}

.description.hidden { transform: translateX(-400px) translateY(0); }

h1 {
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	font-family: 'Vollkorn', serif;
	text-decoration: underline;
	padding: 5px 0 15px 0;
}

#page1 p {
	font-size: 28px;
}

p {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	font-family: 'Vollkorn', serif;
	font-size: 20px;
	padding: 5px 0 15px 0;
}

span {
	text-align: right;
	font-size: 20px;
}

.categories li {
	margin: 0 auto;
	text-align: center;
	width: 800px;
	font-family: 'Vollkorn', serif;
	font-size: 20px;
}

#about, #experience, #education {
	height: 800px;
	background-color: transparent;
}

#projects {
	height: 1000px;
}

#page1 {
	padding: 15px 0 15px 0;
	margin: 0 auto;
	width: 1000px;
	background-color: white;
	border: 1px black solid;
	position: relative;
	top: 280px;
	box-shadow: 2px 2px 3px black;
}

#page2 {
	margin: 0 auto;
	padding: 15px 0 15px 0;
	background-color: #88A09E;
	color: white;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	1px 1px 0 #000,
	1px 1px 0 #000;
	border: 1px black solid;
	width: 1000px;
	position: relative;
	top: 280px;
	box-shadow: 2px 2px 3px black;
}

#page3 {
	margin: 0 auto;
	padding: 15px 0 15px; 
	width: 1000px;
	background-color: white;
	border: 1px black solid;
	position: relative;
	top: 280px;
	box-shadow: 2px 2px 3px black;
}

#page4 {
	padding: 15px 0 15px 0;
	background-color: #88A09E;
	color: white;
	margin: 0 auto;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	1px 1px 0 #000,
	1px 1px 0 #000;
	border: 1px black solid;
	width: 1000px;
	position: relative;
	top: 150px;
	box-shadow: 2px 2px 3px black;
}

h3 {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	font-family: 'Vollkorn', serif;
	font-size: 35px;
}

#page3 h3 {
	text-align: center;
}

#page3 h4 {
	text-align: center;
}

h4 {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	font-family: 'Vollkorn', serif;
	font-size: 25px;
	padding: 5px 0 5px 0;
}

#scaleimg {
	position: relative;
	left: 50px;
	top: 13px;
}

#scaleimg img {
	height: 200px;
	position: relative;
}

#leftoverimg {
	position: relative;
	left: 50px;
	bottom: 60px;
}

#leftoverimg img {
	width: 233px;
	position: relative;
}

#leftoverimg2 {
	position: relative;
	left: -154px;
	bottom: -60px;
}

#leftoverimg2 img {
	width: 233px;
	position: relative;
}

#proj1 {
	position: relative;
	bottom: 195px;
	text-align: center;
	width: 400px;
	margin: 0 auto;
}

#proj2 {
	position: relative;
	bottom: 185px;
	text-align: center;
	width: 400px;
	margin: 0 auto;
}

#proj1 a, #proj2 a {
	width: 400px;
}

#projects p {
	width: 400px;
	text-align: center;
}

#proj1p {
	position: relative;
	bottom: 180px;
}

#proj2p {
	position: relative;
	bottom: 170px;
}

#proj1click {
	position: relative;
	top: 34px;
	left: -130px;
}

#proj1git {
	position: relative;
	top: 54px;
	left: -274px;
}

#proj2click {
	position: relative;
	top: 80px;
	left: -328px;
}

#proj2git {
	position: relative;
	top: 100px;
	left: -474px;
}

@media (max-width: 1400px) {
	#about {
		height: 370px;
	}

	#experience {
		height: 530px;
	}

	#education {
		height: 417px;
	}

	#leftoverimg2 {
		position: relative;
		left: -105px;
		bottom: -60px;
	}

	#proj1click {
	top: 35px;
	left: -77px;
	width: 230px;
	}

	#proj1git {
		position: relative;
		top: 54px;
		left: -245px;
	}

	#proj2click {
		top: 80px;
		left: -233px;
		width: 230px;
	}

	#proj2git {
		position: relative;
		top: 100px;
		left: -400px;
	}
}

@media (max-width: 1200px) {
	.title li {
		font-size: 100px;
	}

	.nav ul li {
		width: 150px;
		margin: 0 auto;
	}

	a {
		width: 150px;
	}

	.container {
		height: 500px;
	}
}